<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/assets/styles.css" type="text/css">
    <title>Blog</title>
</head>
<body>
    <div class="blog-container">
      <h1>All Imposter Blogs are here...</h1>
      <a href="/blogs/new" class="button-success">New Blog</a>
    </div>

    <% blogs.forEach(blog => { %>
    <div class="blog-card">
      
      <h2 class="blog-title">
        <%= blog.title %>
      </h2>
      <h3 class="blog-date">
        <%= blog.createdAt.toLocaleDateString(('en-GB')) %>
      </h3>
    <div class="blog-description">
       <%= blog.description %>
    </div>
    <!-- <div class="blog-readmore"> -->
      <div class="form-new-buttons">
       <a href="blogs/<% blog.id %>" class="button-readmore">Read more...</a>
       <form action="/blogs/<%= blog.id %>?_method=DELETE" method="POST">
        <button type="submit" class="button-delete">Delete</button>
      </form>
      </div>
     </div>
    <!-- </div>     -->
    <% }) %>
</body>
</html>

