<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Blog app created using Server Node.js, Express and MongoDB">
    <meta name="author" content="NewCoderca">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/assets/styles.css" type="text/css">
    <title>Blog</title>
</head>
<body>
    <div class="blog-container">
      <nav> 
        <img src="/public/flagAfrica.png" alt="African flags in African continent">
        <h1>Show your new blog...</h1>
        <img src="/public/flagAfrica.png" alt="African flags in African continent">
      </nav>
      
      <div class="blog-card">
      <h2><%= blog.title %></h2>
      <div class="blog-date"><%= blog.createdAt.toLocaleDateString() %></div>
      <div class="blog-description">
        <%= blog.description %>
     </div>

      <div class="form-new-buttons">
        <a href="/"class="button-cancel" id="button-all" aria-label="all-blogs">All Blogs</a>
        <a href="/blogs/edit/<%= blog.id %>"  class="button-cancel" id="button-edit" aria-label="edit-blog">Edit Blog</a>
    </div>
    </div>
    </div>     
</body>
</html>