<p>New formfields</p>
<div class="form-newblog">

<div class="form-group">
  <label for="title">Title</label>
    <input required value="<% blog.title %>" type="text" name="title" id="title" class="form-input" placeholder="Type here..." required>
</div>

<div class="form-group">
    <label for="description">Blog description</label>
    <textarea name="description" name="description" class="form-input" placeholder="Type here..." required></textarea>
</div>

<div class="form-new-buttons">
    <a href="/" class="button-cancel">Cancel</a>
    <button type="sumbit" class="button-save">Save</button>
</div>  
</div>