* {
    font-family: Arial, Helvetica, Sans-serif;
}

h1 {
    font-family: Arial, Helvetica, Sans-serif;
    padding: 10px;
} 

.blog-container {
    margin-bottom: 20px;
    padding: 15px;
}

.blog-card {
    border: 2px solid grey;
    border-radius: 10px;
    padding: 15px;
    margin: 30px;
}

.h2, h3 {
    margin-bottom: 15px;
}

.blog-date {
    color: grey;
}

.blog-description {

}

.button-success {
    display: block;
    background: green;
    color: white;
    font-size: 18px;
    border-radius: 10px;
    padding: 15px;
    margin: 15px;
    max-width: 100px;
    text-align: center;
    text-decoration: none;
}