* {
    font-family: Arial, Helvetica, Sans-serif;
}

h1 {
    font-family: Arial, Helvetica, Sans-serif;
    padding: 10px;
} 

.blog-container {
    margin-bottom: 20px;
    padding: 15px;
}

.blog-card {
    border: 2px solid grey;
    border-radius: 10px;
    padding: 15px;
    margin: 30px;
}

.h2, h3{
    margin-bottom: 15px;
}

.blog-date {
    color: grey;
}

.button-success {
    display: block;
    background: green;
    color: white;
    font-size: 18px;
    border-radius: 10px;
    padding: 15px;
    margin: 15px;
    text-align: center;
    text-decoration: none;
}

.button-save {
    display: block;
    background: green;
    color: white;
    font-size: 18px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
}
.button-cancel {
    display: block;
    background: grey;
    color: white;
    font-size: 18px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
}

.button-edit {
    display: block;
    background: green;
    color: white;
    font-size: 18px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
}

.button-readmore {
    display: block;
    background: lightskyblue;
    color: white;
    font-size: 18px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
}

.button-delete {
    display: block;
    background: rgb(243, 83, 83);
    color: white;
    font-size: 18px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
}

.button-cancel:hover {
    background-color: rgb(179, 174, 174);
    color: black;
}

.button-save:hover {
    background-color: rgb(197, 241, 193);
    color: black;
}

.button-edit:hover {
    background-color: rgb(197, 241, 193);
    color: black;
}

.button-readmore:hover {
    background-color: rgb(184, 218, 247);
    color: black;
}


.button-delete:hover {
    background-color: rgb(247, 184, 189);
    color: black;
}

.form-newblog{
    border: 2px solid grey;
    border-radius: 10px;
    padding: 15px;
    margin: 30px;
    display: block;
}

.form-input {
    display: block;
    margin: 10px;
    padding:10px;
}

.form-new-buttons {
    display: flex;
    padding: 5px;
}